<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>intrack</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>deeplink.intrack.in/</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>intrack</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppleMusicUsageDescription</key>
	<string>This app requires access to the media library to allow you to take documents.</string>
	<key>NSCalendarsUsageDescription</key>
	<string>This app needs to access your calendar.</string>
	<key>NSCameraUsageDescription</key>
	<string>This app requires access to the camera to allow you to take photos of documents.</string>
	<key>NSContactsUsageDescription</key>
	<string>This app needs to access your contacts for calling.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>This app requires GPS to track cars and job orders</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>This app requires GPS to track cars and job orders</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>This app require access to the microphone to allow you to record audio for messages.</string>
	<key>NSMotionUsageDescription</key>
	<string>This app needs to be able to access your motion use</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>This app needs permission to add photos to library</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This app requires access to the photo library to allow you to take photos of documents.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>This app requires Speech Recognition to recognize speech</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>io.flutter.embedded_views_preview</key>
	<string>YES</string>
	<key>kTCCServiceMediaLibrary</key>
	<string>This app requires access to the music to allow you to take audio files.</string>
</dict>
</plist>
